.bio-category-wrapper {
  display: flex;
  flex-direction: column;
}

.bio-category-wrapper__content {
  display: flex;
  flex-direction: column;
}

.bio-category-wrapper__divider {
  border: none;
  border-top: 1px solid rgba(255, 255, 255, 0.15);
  margin: 2rem 0 0 0;
  padding: 0;
  margin-bottom: -2rem;
}

